.slider {
  height: 100vh;
  position: fixed;
  left: 0;
  overflow: auto;
}

.slider .menIt Link {
  margin-top: 100px;
  font-size: 30px;
}

.wrapper {
  height: 600px;
  width: 900px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgb(96, 96, 96);
  margin-left: 10%;
  margin-top: 1%;
}

.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background-color: firebrick;
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  margin-bottom: 50px;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 11px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: black;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: black;
  background: #fff;
  transform: translateY(-50%);
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .content input {
  width: 15px;
  height: 15px;
  background-color: crimson;
}

form .content {
  display: flex;
  width: 50%;
  height: 50px;
  font-size: 16px;
  margin-left: 23%;
  padding-top: 40px;
  align-items: center;
  justify-content: space-around;
}

.contentLayout {
  width: 100%;
  height: 740px;
  background: grey;
}

.titleName {
  margin-left: 45%;
  font-size: 30px;
  height: 50%;
}

.avatar {
  margin-left: 45%;
  height: 50%;
  margin-top: 5px;
  padding: 10px;
}

.inputField {
  width: 450px;
  margin-left: 37%;
  margin-top: 5px;
}
.inputField input {
  padding-top: 20px;
  /* margin: 10px; */
  margin-top: 30px;
}
.inputField button {
  margin-left: 170px;
  margin-top: 30px;
}
